{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
Register
{% endblock head_title %}

{% block main_contents %}
<div class="container pt-3">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="POST"> {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 p-2">Join Today</legend>
                    {{ form | crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border-top pt-3 text-capitalize">
            <small class="text-muted">already have an account?</small>
            <a href="{% url 'login' %}" class="ml-2">login</a>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock main_contents %}